<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated imtmde -->
      <package
            uri="http://www.example.org/imtmde"
            class="imt.imtmde.ImtmdePackage"
            genModel="model/imtmde.genmodel"/>
   </extension>

</plugin>
